@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Shadows+Into+Light&display=swap') ;

.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  color: orange;
}

header {
  font-family: Nabla , cursive;
  font-size: 10pt;
  text-align: center;
}

.solarSystem {
  font-family: Nabla , cursive;
  font-size: 20pt;
  text-align: center;
}

.title {
  color: orange;
  font-family: Nabla , cursive;
  font-size: 20pt;
  font-weight: 300;
  margin: 60px auto 20px;
  padding: 10px;
  text-align: center;
  width: 20%;
}

.planetCard {
  display: inline-block;
}

.planetCard img {
  text-align: center;
  width: 100%;
}

.list-planets {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.missions {
  align-items: baseline;
  display: block;
  font-family: Nabla , cursive;
  font-size: 18pt;
  justify-content: space-evenly;
  text-align: center;
}

.missionsCard {
  border: 1px solid white;
  border-radius: 20px;
  display: inline-block;
  margin: 20px 30px;
  padding: 20px;
  width: 25%;
}
